@import "../../styles/pxToRem";

.component {
  display: flex;
  flex-direction: column;
}

.headerComponent {
  display: flex;
  flex-direction: column;
  margin-top: pxToRem(30);
  flex: 1;
  justify-content: center;
  align-items: center;
}

.headerTitle {
  font-size: pxToRem(52);
}

.subTitle {
  margin-top: pxToRem(22);
  text-align: center;
  width: pxToRem(640);
  font-size: pxToRem(22);
  color: var(--primaryColorBlue);
}

.gameTypesComponent {
  display: flex;
  flex-direction: column;
  margin-top: pxToRem(80);
  flex: 1;
  justify-content: center;
}

.gameTypesTitle {
  font-size: pxToRem(21);
  margin-bottom: pxToRem(30);
}

.isBlue {
  color: var(--primaryColorBlue);
}

.gameTypesList {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  column-gap: pxToRem(40);
}
