.component {
  display: flex;
  flex-direction: column;
}

.headerComponent {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.headerTitle {
  font-size: 52px;
}

.subTitle {
  margin-top: 22px;
  text-align: center;
  width: 640px;
  font-size: 22px;
  color: #003b95;
}

.journeyTypesComponent {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  flex: 1;
  justify-content: center;
}

.journeyTypesTitle {
  font-size: 24px;
  margin-bottom: 30px;
}

.journeyTypesList {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  column-gap: 40px;
}
