.component {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.journeyTypesContainer {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  width: 100%;
  justify-content: flex-start;
  column-gap: 40px;
}
