@import "../../styles/pxToRem";

.component {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  justify-content: center;
  margin-top: pxToRem(50);
}

.journeyTypesContainer {
  display: flex;
  flex-direction: row;
  margin-top: pxToRem(100);
  width: 100%;
  justify-content: flex-start;
  column-gap: pxToRem(40);
}
