@import "../../../styles/pxToRem";
@import "../../../styles/mediaQuery";

.component {
  display: flex;
  width: 100%;
  height: 60vh;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;

  @include mediaQuery(s, up) {
    height: 90vh;
  }
  @include mediaQuery(m, up) {
    height: 100vh;
  }
}

.backgroundImageContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: black;

  @include mediaQuery(s, up) {
    border-radius: 30px;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
  }
}

.backgroundImage {
  position: absolute;
  background-position: center;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;

  @include mediaQuery(s, up) {
    border-radius: 30px;
  }
}

.headerContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @include mediaQuery(s, up) {
    top: 40px;
  }

  @include mediaQuery(m, up) {
    top: 20px;
  }
}

.header {
  font-family: var(--font-family-airbnb-bd);
  color: white;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
  font-size: pxToRem(28);
  margin-top: pxToRem(50);

  @include mediaQuery(s, up) {
    font-size: pxToRem(40);
  }
  @include mediaQuery(m, up) {
    font-size: pxToRem(60);
  }
}

.subHeader {
  font-family: var(--font-family-airbnb-bd);
  color: white;
  z-index: 1;
  margin-bottom: pxToRem(28);
  margin-top: pxToRem(16);
  font-size: pxToRem(18);

  @include mediaQuery(s, up) {
    font-size: pxToRem(28);
    margin-top: 0;
  }
  @include mediaQuery(m, up) {
    font-size: pxToRem(34);
  }
}
