.component {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.journeyTypesContainer {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  margin-top: 100px;
}

.journeyTypeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 40px;
  width: max-content;
  border: 2px solid lightgray;
  border-radius: 16px;
  cursor: pointer;

  &:hover {
    background-color: #f7f7f7;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  object-fit: contain;
  height: 75px;
}

.journeyTypeTitle {
  font-weight: bold;
  margin-top: 40px;
  color: black;
  font-size: 16px;
}
