@import "../../../styles/pxToRem";
@import "../../../styles/mediaQuery";

.component {
  display: flex;
  flex-direction: column;
  margin-top: pxToRem(35);
  margin-bottom: pxToRem(20);

  @include mediaQuery(s, up) {
    margin-top: pxToRem(60);
    margin-bottom: pxToRem(60);
  }
}

.subHeader {
  text-transform: uppercase;
  text-align: center;
  color: var(--primaryColorGray);
  font-size: pxToRem(14);

  @include mediaQuery(m, up) {
    font-size: pxToRem(18);
  }
}

.header {
  font-size: pxToRem(18);
  text-align: center;
  margin-bottom: pxToRem(20);

  @include mediaQuery(m, up) {
    font-size: pxToRem(30);
  }
}

.gameTypeList {
  display: flex;
}

.gameTypeContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.gameTypeHeader {
  font-size: pxToRem(12);
  margin-bottom: pxToRem(10);
  color: var(--primaryColorBlack);
  width: min-content;
  border-bottom: 2px solid var(--primaryColorBlue);

  @include mediaQuery(s, up) {
    font-size: pxToRem(14);
  }
}

.gameTypeContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @include mediaQuery(s, up) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  @include mediaQuery(l, up) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

.gameTypesTitle {
  font-size: pxToRem(21);
  margin-bottom: pxToRem(30);

  @include mediaQuery(m, up) {
  }
}
