@import "../../../styles/pxToRem";
@import "../../../styles/mediaQuery";

.component {
  display: flex;
  flex-direction: column;
  padding-top: pxToRem(48);
  width: 100%;

  @include mediaQuery(s, up) {
    padding-top: pxToRem(30);
    margin-bottom: pxToRem(50);
  }
}

.headerContainer {
  display: flex;
  flex-direction: column;
}

.subHeader {
  font-family: var(--font-family-airbnb-bd);
  text-transform: uppercase;
  align-self: center;
  color: var(--primaryColorGray);
  font-size: pxToRem(14);

  @include mediaQuery(m, up) {
    font-size: pxToRem(18);
  }
}

.header {
  font-family: var(--font-family-airbnb-bd);
  font-size: pxToRem(18);
  align-self: center;

  @include mediaQuery(s, up) {
    margin-bottom: pxToRem(20);
  }

  @include mediaQuery(m, up) {
    font-size: pxToRem(30);
  }
}

.howContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  margin-top: pxToRem(30);

  @include mediaQuery(s, up) {
    flex-direction: row;
  }

  @include mediaQuery(m, up) {
    font-size: pxToRem(30);
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.rightContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.imageContainer {
  display: flex;
  position: relative;
  margin: 0 30px;
  // animation: swipe-hand 8s ease-in-out infinite;
}

// @keyframes swipe-hand {
//   25% {
//     transform: rotateZ(-10deg) translate3d(-80px, 0px, 0px);
//   }
//   50% {
//     transform: translate(0) rotate(0);
//   }
//   75% {
//     transform: rotateZ(10deg) translate3d(80px, 0px, 0px);
//   }
//   100% {
//     transform: translate(0) rotate(0);
//   }
// }

.image {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 16px;

  @include mediaQuery(s, up) {
    width: 300px;
    height: 300px;
  }
}

.name {
  position: absolute;
  bottom: pxToRem(30);
  left: pxToRem(30);
  font-size: pxToRem(25);
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 30px 60px;

  @include mediaQuery(m, up) {
    padding: 30px 150px;
  }
}

.icon {
  width: 50px;
  height: 50px;
}

.gif {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);

  // animation: opacity-gif 8s ease-in-out infinite;
  //opacity: 0;
  opacity: 1;
}

// @keyframes opacity-gif {
//   25% {
//     opacity: 0;
//   }
//   65% {
//     opacity: 0;
//   }
//   75% {
//     opacity: 1;
//   }
//   85% {
//     opacity: 0;
//   }
// }
