:root {
  // PRIMARY COLORS

  --primaryColorGray: #878787;
  --primaryColorGreen: #007b86;

  --secondaryColorGray: rgb(128, 128, 128);
  --secondaryColorGreen: #0092a0;

  //OLD
  --primaryColorBlue: #2356d1;
  --primaryColorWhite: white;
  --primaryColorBlack: black;
  //--primaryColorGray: #ccc;
  //--primaryColorGreen: #47d073;
  --primaryColorLightGreen: #9fe870;
  --primaryColorLightGray: #f7f7f7;
  --primaryColorOrange: #f5a623;
  --primaryColorRed: #ff385c;
  --primaryColorPurple: #5c16c5;

  // SECONDARY COLORS
  --secondaryColorLightGreen: #80e142;
  --secondaryColorLightGray: lightgray;
  --secondaryColorRed: #e31c5f;
  --secondaryColorPurple: #772ce8;

  // FONT FAMILY
  --font-family-airbnb-bd: "Airbnb_bd";
  --font-family-airbnb-bk: "Airbnb_bdk";
  --font-family-airbnb-blk: "Airbnb_blk";
  --font-family-airbnb-lt: "Airbnb_lt";
  --font-family-airbnb-md: "Airbnb_md";
  --font-family-airbnb-xbd: "Airbnb_xbd";
}

@font-face {
  font-family: "Airbnb_bd";
  src: url("../assets/fonts/airbnb-cereal-font/AirbnbCereal_W_Bd.otf");
}

@font-face {
  font-family: "Airbnb_bk";
  src: url("../assets/fonts/airbnb-cereal-font/AirbnbCereal_W_Bk.otf");
}

@font-face {
  font-family: "Airbnb_blk";
  src: url("../assets/fonts/airbnb-cereal-font/AirbnbCereal_W_Blk.otf");
}

@font-face {
  font-family: "Airbnb_lt";
  src: url("../assets/fonts/airbnb-cereal-font/AirbnbCereal_W_Lt.otf");
}

@font-face {
  font-family: "Airbnb_md";
  src: url("../assets/fonts/airbnb-cereal-font/AirbnbCereal_W_Md.otf");
}

@font-face {
  font-family: "Airbnb_xbd";
  src: url("../assets/fonts/airbnb-cereal-font/AirbnbCereal_W_XBd.otf");
}
