:root {
  // PRIMARY COLORS
  --primaryColorBlue: #003b95;
  --primaryColorWhite: white;
  --primaryColorBlack: black;
  --primaryColorGray: #ccc;
  --primaryColorGreen: #47d073;
  --primaryColorLightGreen: #9fe870;
  --primaryColorLightGray: #f7f7f7;
  --primaryColorOrange: #f5a623;
  --primaryColorRed: #ff385c;
  --primaryColorPurple: #5c16c5;

  // SECONDARY COLORS
  --secondaryColorLightGreen: #80e142;
  --secondaryColorLightGray: lightgray;
  --secondaryColorRed: #e31c5f;
  --secondaryColorPurple: #772ce8;
}
