:root {
  // PRIMARY COLORS
  --primaryColorBlue: #003b95;
  --primaryColorWhite: white;
  --primaryColorBlack: black;
  --primaryColorGray: #ccc;
  --primaryColorLightGreen: #9fe870;
  --primaryColorLightGray: #f7f7f7;

  // SECONDARY COLORS
  --secondaryColorLightGreen: #80e142;
  --secondaryColorLightGray: lightgray;
}
