@import "../../styles/pxToRem";

.component {
  display: flex;
  flex-direction: column;
}

.welcomeMessageContainer {
  display: flex;
  margin-bottom: pxToRem(100);
}

.swipeOverviewHeader {
  margin-bottom: pxToRem(40);
}

.newSwipeButton {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  background-color: var(--primaryColorLightGreen);
  cursor: pointer;
  font-weight: bold;
  font-size: pxToRem(16);
  color: black;
  margin-top: pxToRem(25);

  &:hover {
    background-color: var(--secondaryColorLightGreen);
  }
}
