@import "../../styles/pxToRem";

.component {
  display: flex;
  flex-direction: column;
}

.welcomeMessageContainer {
  display: flex;
  margin-bottom: pxToRem(100);
}

.newGameHeader {
  margin-bottom: pxToRem(40);
}

.button {
  margin-top: pxToRem(25);
}
