.journeyTypeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primaryColorWhite);
  width: 220px;
  height: 220px;
  //padding: 40px;
  border: 2px solid var(--secondaryColorLightGray);
  border-radius: 16px;
  cursor: pointer;

  &.disabled {
    cursor: unset;
  }

  &:hover {
    background-color: var(--primaryColorLightGray);

    &.disabled {
      background-color: var(--primaryColorWhite);
    }
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  object-fit: contain;
  height: 75px;
}

.journeyTypeTitle {
  font-weight: bold;
  margin-top: 40px;
  color: var(--primaryColorBlack);
  font-size: 16px;
}
