@import "../../../styles/pxToRem";
@import "../../../styles/mediaQuery";

.component {
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding-top: pxToRem(48);

  @include mediaQuery(s, up) {
    padding-top: pxToRem(30);
  }
}

.subHeader {
  font-family: var(--font-family-airbnb-bd);
  text-transform: uppercase;
  color: var(--primaryColorGray);
  font-size: pxToRem(14);

  @include mediaQuery(m, up) {
    font-size: pxToRem(18);
  }
}

.header {
  font-family: var(--font-family-airbnb-bd);
  font-size: pxToRem(18);
  margin-bottom: pxToRem(20);

  @include mediaQuery(m, up) {
    font-size: pxToRem(30);
  }
}
