@import "../../../styles/pxToRem";
@import "../../../styles/mediaQuery";

.component {
  display: flex;
  flex-direction: column;
  padding-top: pxToRem(30);
  width: 100%;
  padding-bottom: pxToRem(15);
  border-bottom: 0.3px solid var(--primaryColorGreen);

  @include mediaQuery(s, up) {
    padding-bottom: pxToRem(30);
  }
}

.subHeader {
  font-family: var(--font-family-airbnb-bd);
  text-transform: uppercase;
  color: var(--primaryColorGray);
  font-size: pxToRem(12);

  @include mediaQuery(m, up) {
    font-size: pxToRem(18);
  }
}

.header {
  font-family: var(--font-family-airbnb-bd);
  font-size: pxToRem(16);
  margin-bottom: pxToRem(20);

  @include mediaQuery(m, up) {
    font-size: pxToRem(30);
  }
}

.description {
  font-family: var(--font-family-airbnb-bdk);
  font-size: pxToRem(12);

  @include mediaQuery(m, up) {
    font-size: pxToRem(18);
  }
}
