@import "../../styles/pxToRem";
@import "../../styles/mediaQuery";

/* Default styling */
.button {
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: pxToRem(12);
  padding: 10px 20px;
  color: var(--primaryColorBlack);
  z-index: 10;
  font-family: var(--font-family-airbnb);

  @include mediaQuery(s, up) {
    font-size: pxToRem(16);
    padding: 15px 40px;
  }
  @include mediaQuery(m, up) {
    font-size: pxToRem(18);
    padding: 15px 40px;
  }
}

/* Background variants */
.primary {
  color: var(--primaryColorWhite);
  background-color: var(--primaryColorGreen);

  &:hover {
    background-color: var(--secondaryColorGreen);
  }
}

.secondary {
  color: var(--primaryColorWhite);
  background-color: var(--primaryColorGray);

  &:hover {
    background-color: var(--secondaryColorGray);
  }
}

.primary-inverted {
  color: var(--primaryColorWhite);
}

/* Disabled states */
:disabled {
  cursor: unset;
}

.primary:disabled {
  color: var(--primaryColorWhite);
  background-color: var(--secondaryColorLightGray);

  &:hover {
    background-color: var(--secondaryColorLightGray);
  }
}

/* Size variants */
.big {
  padding: 20px 40px;
}
