@import "../../../styles/pxToRem";
@import "../../../styles/mediaQuery";

.component {
  display: flex;
  justify-content: center;
  margin-top: pxToRem(20);
  width: 100%;
  background-color: var(--primaryColorLightGray);

  @include mediaQuery(s, up) {
    margin-top: pxToRem(50);
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include mediaQuery(s, up) {
    flex-direction: row;
  }
}

.subscribeContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: pxToRem(20);
  justify-content: center;
  align-items: stretch;

  @include mediaQuery(s, up) {
    padding-top: pxToRem(40);
  }
}

.header {
  font-family: var(--font-family-airbnb-bd);
  font-size: pxToRem(14);

  @include mediaQuery(s, up) {
    font-size: pxToRem(18);
    margin-bottom: pxToRem(20);
  }

  @include mediaQuery(m, up) {
    font-size: pxToRem(24);
  }
}

.signupContainer {
  display: flex;
  flex-direction: column;
  margin-top: pxToRem(20);
  align-items: center;

  @include mediaQuery(s, up) {
    flex-direction: row;
    margin-top: pxToRem(60);
  }
}

.button {
  margin-top: pxToRem(10);
  margin-bottom: pxToRem(20);

  @include mediaQuery(s, up) {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: pxToRem(10);
  }
}

.rightContainer {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  flex-direction: column;
  height: 350px;
}

.imageContainer {
  position: relative;
}

.image {
  object-fit: cover;
  width: 240px;
  height: 240px;
  border-radius: 16px;

  @include mediaQuery(m, up) {
    width: 280px;
    height: 280px;
  }
}

.name {
  position: absolute;
  bottom: pxToRem(40);
  left: pxToRem(10);
  font-size: pxToRem(16);
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px black;

  @include mediaQuery(m, up) {
    font-size: pxToRem(20);
  }
}

.starIcon {
  position: absolute;
  top: pxToRem(21);
  right: pxToRem(40);
  width: pxToRem(10);
  height: pxToRem(10);

  @include mediaQuery(m, up) {
    width: pxToRem(12);
    height: pxToRem(12);
  }
}

.reviewTitle {
  position: absolute;
  top: pxToRem(20);
  right: pxToRem(23);
  width: pxToRem(14);
  height: pxToRem(14);
  font-weight: bold;
  font-size: pxToRem(10);
  color: var(--primaryColorWhite);
  text-shadow: 1px 1px 1px black;

  @include mediaQuery(m, up) {
    font-size: pxToRem(12);
  }
}

.temperatureMonth {
  position: absolute;
  bottom: pxToRem(20);
  left: pxToRem(10);
  font-size: pxToRem(10);
  font-weight: bold;
  color: var(--primaryColorRed);
  text-shadow: 1px 1px 1px black;

  @include mediaQuery(m, up) {
    font-size: pxToRem(12);
  }
}

.airport {
  position: absolute;
  bottom: pxToRem(36);
  right: pxToRem(10);
  font-size: pxToRem(10);
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px black;

  @include mediaQuery(m, up) {
    font-size: pxToRem(12);
  }
}

.flights {
  position: absolute;
  bottom: pxToRem(20);
  right: pxToRem(10);
  font-size: pxToRem(10);
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px black;

  @include mediaQuery(m, up) {
    font-size: pxToRem(12);
  }
}

.sunBehindCloudIcon {
  position: absolute;
  bottom: pxToRem(60);
  left: pxToRem(10);
  width: 22px;
  height: 22px;

  @include mediaQuery(m, up) {
    width: 30px;
    height: 30px;
  }
}

.beachIcon {
  position: absolute;
  top: pxToRem(20);
  left: pxToRem(10);
  width: 22px;
  height: 22px;

  @include mediaQuery(m, up) {
    width: 25px;
    height: 25px;
  }
}

.cocktailIcon {
  position: absolute;
  top: pxToRem(50);
  left: pxToRem(14);
  width: 18px;
  height: 18px;

  @include mediaQuery(m, up) {
    width: 20px;
    height: 20px;
  }
}

.temperatureNow {
  position: absolute;
  bottom: pxToRem(66);
  left: pxToRem(48);
  font-size: pxToRem(10);
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px black;

  @include mediaQuery(m, up) {
    font-size: pxToRem(12);
  }
}
