@import "../../styles/pxToRem";

.component {
  position: relative;
}

.subTitle {
  margin-top: pxToRem(30);
  margin-bottom: pxToRem(30);
}
.destinationsOverview {
  display: flex;
  width: 100%;
}
.destinationslist {
  list-style-type: none;
  width: pxToRem(200);
  border: 2px solid var(--primaryColorGray);
}

.destinationContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: pxToRem(50);
  align-items: center;
  padding-left: pxToRem(40);
  border: 2px solid var(--primaryColorGray);
  background-color: white;
  user-select: none;

  &.isGray {
    background-color: var(--primaryColorGray);
  }
}

.ranking {
  position: absolute;
  top: 2px;
  left: 2px;
  color: var(--primaryColorGreen);
  font-weight: bold;
}

.points {
  position: absolute;
  bottom: 2px;
  right: 2px;
  color: var(--primaryColorBlue);
  font-weight: bold;
  font-size: pxToRem(12);
}

.buttonContainer {
  margin-top: pxToRem(50);
  margin-left: pxToRem(100);
}

.feedbackWidget {
  position: absolute;
  bottom: -20px;
  right: 0;
}
