.component {
  display: flex;
  flex: 1;
  background-color: var(--primaryColorBlue);
  padding: 20px 20%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  color: var(--primaryColorWhite);
}

.loginContainer {
  display: flex;
  align-items: center;
}

.loginButton {
  color: var(--primaryColorWhite);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
}

.logoutContainer {
  display: flex;
  align-items: center;
  gap: 22px;
}

.userName {
  color: var(--primaryColorWhite);
  font-weight: bold;
  font-size: 14px;
}

.logoutButton {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  background-color: var(--primaryColorLightGreen);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: var(--primaryColorBlack);

  &:hover {
    background-color: var(--secondaryColorLightGreen);
  }
}
