@import "../../styles/pxToRem";
@import "../../styles/mediaQuery";

.component {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--primaryColorGreen);

  &.isTransparent {
    background-color: transparent;
  }
}

.contentContainer {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 0 pxToRem(14);

  @include mediaQuery(s, up) {
    padding: 0 pxToRem(44);
  }

  @include mediaQuery(m, up) {
    padding: 0 pxToRem(44);
  }

  @include mediaQuery(l, up) {
    padding: 0 pxToRem(44);
    max-width: 1888px;
  }
}

.logoContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  @include mediaQuery(m, up) {
    column-gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.rightSide {
  display: flex;
  align-items: flex-end;
}

.buttonsContainer {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  align-items: center;

  @include mediaQuery(m, up) {
    column-gap: 10px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.logo {
  font-family: var(--font-family-airbnb-bd);
  color: white;
  z-index: 1;
  font-size: pxToRem(18);
  vertical-align: center;
  text-decoration: none;

  @include mediaQuery(s, up) {
    font-size: pxToRem(30);
  }
  @include mediaQuery(m, up) {
    font-size: pxToRem(40);
  }
}

.logoSubTitle {
  font-family: var(--font-family-airbnb-bd);
  color: var(--primaryColorGreen);
  z-index: 1;
  font-size: pxToRem(12);

  @include mediaQuery(s, up) {
    font-size: pxToRem(20);
  }
  @include mediaQuery(m, up) {
    margin-top: 10px;
    font-size: pxToRem(18);
  }

  &.isWhite {
    color: var(--primaryColorWhite);
  }
}

.userName {
  color: var(--primaryColorWhite);
  font-weight: bold;
  font-size: pxToRem(10);
  margin-top: pxToRem(12);

  @include mediaQuery(s, up) {
    font-size: pxToRem(14);
    margin-top: 0;
  }
}
