.component {
  display: flex;
  flex: 1;
  background-color: #003b95;
  padding: 20px 20%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.logo {
  color: white;
}

.loginContainer {
  display: flex;
  align-items: center;
}

.loginButton {
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
}

.logoutContainer {
  display: flex;
  align-items: center;
  gap: 22px;
}

.userName {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.logoutButton {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  background-color: #9fe870;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: black;

  &:hover {
    background-color: #80e142;
  }
}
