@import "../../styles/pxToRem";

.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  display: flex;
  justify-content: center;
  margin-top: pxToRem(50);
}

.input {
  margin-top: pxToRem(70);
  margin-bottom: pxToRem(70);
}
