@import "../../styles/pxToRem";

.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  display: flex;
  justify-content: center;
  margin-top: pxToRem(50);
}

.input {
  width: pxToRem(500);
  margin-top: pxToRem(70);
  padding: 22px 20px;
  display: inline-block;
  border: 1px solid var(--primaryColorGray);
  font-size: pxToRem(16);
  border-radius: 8px;
}

.button {
  display: flex;
  margin-top: pxToRem(70);
  padding: 14px 26px;
  align-items: center;
  background-color: var(--primaryColorLightGreen);
  cursor: pointer;
  font-weight: bold;
  font-size: pxToRem(20);
  color: black;
  width: max-content;

  &:hover {
    background-color: var(--secondaryColorLightGreen);
  }
}

.disabled {
  color: var(--primaryColorWhite);
  background-color: var(--secondaryColorLightGray);

  &:hover {
    background-color: var(--secondaryColorLightGray);
  }
}
