@import "../../styles/mediaQuery";

.container {
  margin: 0 16px;
  position: relative;

  @include mediaQuery(s, only) {
    margin: 0 24px;
  }

  @include mediaQuery(m, only) {
    margin: 0 auto;
    max-width: 960px;
  }

  @include mediaQuery(l, only) {
    margin: 0 80px;
    background-color: blue;
  }

  @include mediaQuery(xl, only) {
    margin: 0 auto;
    max-width: 1288px;
    background-color: orange;
  }
}
