@import "../../styles/pxToRem";

.component {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid var(--secondaryColorLightGray);
  border-radius: pxToRem(16);
  padding: pxToRem(48) pxToRem(24) pxToRem(32);

  &:hover {
    background-color: var(--primaryColorLightGray);
  }
}

.upperPart {
  display: flex;
  align-items: center;
  column-gap: pxToRem(16);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--primaryColorGray);
}

.image {
  width: 40px;
}

.title {
  text-transform: uppercase;
  font-size: pxToRem(16);
  font-weight: bold;
  color: var(--primaryColorBlue);
}

.lowerPart {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.participantContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: pxToRem(30);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.participantTitle {
  font-size: pxToRem(16);
  font-weight: bold;
  color: var(--primaryColorBlack);
  margin-bottom: pxToRem(6);
}

.participantAction {
  font-size: pxToRem(16);
  color: var(--primaryColorOrange);

  &.isGreen {
    color: var(--primaryColorGreen);
  }
}
