@import "../../styles/pxToRem";
@import "../../styles/mediaQuery";

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: pxToRem(220);
  height: pxToRem(40);
  padding: 12px 10px;
  border: 1px solid var(--primaryColorGray);
  font-size: pxToRem(12);
  border-radius: 8px;
  font-family: var(--font-family-regular);
  resize: none;

  @include mediaQuery(m, up) {
    height: pxToRem(70);
    width: pxToRem(250);
    padding: 24px 16px;
    font-size: pxToRem(14);
  }

  /* Size variants */
  .big {
    width: pxToRem(500);
    height: pxToRem(100);
    padding: 22px 20px;
    font-size: pxToRem(16);
  }
}
