@import "../../styles/pxToRem";

.component {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: pxToRem(300);
  margin-bottom: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swipeCountTitle {
  position: absolute;
  top: 0;
  right: 0;
  font-size: pxToRem(16);
  color: var(--primaryColorBlack);
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  width: pxToRem(450);
  margin-top: pxToRem(20);
  padding: 0 30px 30px;
  justify-content: center;
  column-gap: 50px;
}

.finishedTitle {
  font-size: pxToRem(22);
  color: var(--primaryColorBlack);
  margin-bottom: pxToRem(50);
}
